    body{
        background-color: black;
        margin: 0px;
        padding: 0px;
    }

    /* scrollbar */
    /* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(97, 23, 23); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(240, 240, 240); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

    nav{
       
    }
    .nav-box{
        margin: 0px;
        background-color: rgb(218, 18, 35);
        height: 20px;
        padding: 25px;
        color: rgb(255, 255, 255);
    }
    .nav-heading{
        margin-top: -10px;
        font-family: 'Unbounded', cursive;
    }

    .nav-subline{
        margin-top: -20px;
        color: rgb(255, 255, 255);
        font-family: 'Jost', sans-serif;
    }

    .Contacts{
        font-family: 'Jost', sans-serif;
        float: right;
        font-size: 60px;
        height: 48px;
        color: rgb(0, 0, 0);
        margin-top: -65px;
        margin-right: 10;
        border-radius: 100px;
        padding: 4px;
        margin-right: 10px;
        font-size: 13px;
    }


    /* contact */
    .contact-box{
        margin-top: 90px;
        font-size: 30px;
        margin: 40px;
        padding: 20px;
    }


    .contact-head{
        text-align: center;
        left: -119px;
        font-family: 'Unbounded', cursive;
        color:red;
    }
    .contact-in-box{
        margin: 10px;
        font-family: 'Unbounded', cursive;
        display: flex;
    }

    .contact-tag-img{
        margin-right: 10px;
        height: 30px;
        background-color: red;
        padding: 5px;
    }


    .contact-link{

        font-family: 'Jost', sans-serif;
        color: rgb(255, 0, 55);
        margin-left: 20px;
        text-decoration: none;
        display: block;
    }

    .link-tag{
        font-family: 'Unbounded', cursive;
        color:rgb(255, 255, 255);
    }

    /* About Section */

    .about-part-1{
        margin: 10px;
    }
    .about-section{
        position: relative;
        display: flex;
        flex-direction: row;
        margin: 10px;
    }


    .about-head{
       
        text-align: center;
        font-family: 'Unbounded', cursive;
        color: rgb(255, 255, 255);
        transform: rotate(360deg);
        font-size: 30px;
        color: white;
        border-radius: 10px;
    }
    .about-head h2{
      
       margin-left: 70px;
    }



    .about-profile-box{
        background-color: rgb(13, 8, 8);
        box-shadow: 0px 0px 10px rgb(255, 0, 0);
        padding: 29px;
        border-radius:20px;
        margin: 40px;
        border: 6px solid rgb(255, 0, 0);
    }
    .about-profile{
        border-radius: 300px;
    }

    .about-profile{
    
        width: 300px;
        height: 300px;
    }

    .about-para{
        background-color: rgb(255, 0, 0);
        box-shadow: 2px 10px 100px rgb(255, 0, 0);
        margin-top: 100px;
        padding: 30px;
        font-size: 30px;
        color: white;
    background-color:rgb(236, 0, 0);
    border-radius: 10px;
        font-family: 'Jost', sans-serif;
    }

    .hr{
        border: none;
    }

    /* experince */

    .exp-card{
        margin: 50px;
        border:1px solid white ;
        color: white;
        padding: 20px;
        border-radius: 10px;
        font-family: 'Unbounded', cursive;
    }

    .exp-box{
        margin: 10px;
    }

    .exp-head{
        padding: 10px;
        display: inline;
        border-radius: 10px;
        background-color: rgb(255, 0, 0);
        box-shadow: 2px 3px 100px red;
    }
    .about-head{
        display: inline-block;
    }


    .exp-para{

        font-size: 20px;
        font-family: 'Jost', sans-serif;
    }

    .skill-card{
    background: #fd1900;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fafafa, #ff240c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff0000, #a65349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        padding: 50px;

    }
    .skill-head{
        font-family: 'Unbounded', cursive;
        color: rgb(246, 246, 246);
    }
    .skills{
        margin-top: 30px;
        margin-left: -7px;
        display: flex;
        flex-direction: row;
    }

    .skill-tag{
        color: white;
        background-color:black;
        padding: 15px;
        font-family: 'Jost', sans-serif;
        margin: 10px;
        height: 30px;
        width: auto;
    }


    .project-container{
        margin-top: 2px;
        width:100%;
    }

    .project-head{
        text-align: center;
        color: white;
        font-family: 'Unbounded', cursive;
        padding: 20px;
    }

    .plat-head{
        
        font-family: 'Unbounded', cursive;
        background-color: #fafafa;
        border-radius: 30px;
        font-size: 20px;
        padding: 10px;
        width: 300px;
        margin-bottom: 10px;
    
    }

    .project-descr{
        background-color: rgb(211, 0, 0);
        font-family: 'Poppins', sans-serif;
        height: 50%;
        padding: 30px;
        text-align: center;
    }

    .project-descr a{
        font-size: 13px;
        font-family: 'Unbounded', cursive;
        color: rgb(255, 255, 255);
        text-decoration: none;
        background-color: rgb(0, 0, 0);
        
        padding: 13px;

    }

    .project-features{
        
        text-align: left;
    }

    .project-features h4{
        font-family: 'Unbounded', cursive;
        margin-left: 30px;
    }

    .project-features ul{
        font-family: 'Poppins', sans-serif;
        color: white;
    }

    .features-list li{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .project-content{
        margin: 10px;
        margin-top:30px;
        display: flex;
        border: 1px solid white;
        flex-direction: row;
    }

    .project-descr .short-des{
        margin: 5px;
        font-family: 'Jost', sans-serif;
        font-size: 20px;
        color: white;
    }

    div .project-descr:nth-child(odd){
        background-color: rgb(246, 0, 0);
    }

    .footer{
        background-color: rgb(0, 0, 0);
        padding: 5px;
    }
    .footer .footer-txt{
        color: rgb(255, 255, 255);
        font-family: 'Jost', sans-serif;
        text-align: center;
    }

    .icon-heart{
        color: #f80000;
    }

    /* animation */
    .line-1{
        width: 10em;
        border-right: 2px solid rgba(255,255,255,.75);
        white-space: nowrap;
        overflow: hidden;
        /* transform: translateY(-50%);     */
    }
    
    /* Animation */
    .anim-typewriter{
      animation: typewriter 4s steps(44) 1s 1 normal both,
                 blinkTextCursor 500ms steps(44) infinite normal;
    }
    @keyframes typewriter{
      from{width: 0;}
      to{width: 10em;}
    }
    @keyframes blinkTextCursor{
      from{border-right-color: rgba(218, 218, 218, 0.75);}
      to{border-right-color: transparent;}
    }

    /* responisive for phone */

    @media (max-width: 800px) {
        .about-section {

            flex-wrap: wrap;
        }
        .about-profile-box{
            margin: auto;
            width: auto;
        }
        
        .project-head{
            font-size: 24px;
        }

        .skill-tag{

            width:fit-content;
            flex-wrap: wrap;
        }

        .skills{
            display: inline-flex;
            flex-wrap: wrap;
            width: 80%;
            
        }

        .contact-head{
            font-size: 30px;
            margin-bottom: 40px;
        }

    
        .link-tag{
            font-size: 20px;
        }
        .contact-link{
            font-size: 20px;
        }
        .contact-items


        .project-head{
            font-size: 25px;
        }

        .about-head{
            position: static;
            font-size: 25px;
    
            text-align: center
        }

        .project-container{
            width:100%;

        }
    }
